In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('classroom_db.db')
cursor = connection.cursor()
com = """CREATE TABLE classroom (
student_id INTEGER PRIMARY KEY,
name VARCHAR(20),
gender CHAR(1),
physics_marks INTEGER,
chemistry_marks INTEGER,
mathematics_marks INTEGER
);
"""
cursor.execute(com)
connection.commit()
connection.close()

In [6]:
connection = sqlite3.connect('classroom_db.db')
cursor = connection.cursor()
data = ((1, "A", "M", 70, 84, 95),(2, "B", "F", 76, 55, 92),(3, "C", "M", 67, 87, 46),(4, "D", "F", 91, 33, 63))
for d in data:
    cursor.execute(f'INSERT into classroom VALUES {d};')
connection.commit()
connection.close()

IntegrityError: UNIQUE constraint failed: classroom.student_id

In [11]:
connection = sqlite3.connect('classroom_db.db')
cursor = connection.cursor()
cursor.execute("SELECT * FROM classroom;")
d = cursor.fetchall()
connection.commit()
connection.close()
print(d)

[(1, 'A', 'M', 70, 84, 95), (2, 'B', 'F', 76, 55, 92), (3, 'C', 'M', 67, 87, 46), (4, 'D', 'F', 91, 33, 63)]